@* <p role="alert">No está autorizado para acceder a este recurso.</p> *@

<div class="forbidden-container">
    <div class="forbidden-card">
        <div class="lock-container">
            <RadzenIcon Icon="lock" Size="50" Class="lock-icon" />
        </div>
        <RadzenText Text="¡Acceso Denegado!" Class="forbidden-title" />
        <RadzenText Text="Lo sentimos, no está autorizado para acceder a esta página." Class="forbidden-description" />
    </div>
</div>

@code {

}
