@page "/cita"
@inject CitaService citaService
@inject HorarioAtencionService horarioAtencionService
@inject PacienteService pacienteService

<h3>Gestión de Citas</h3>

<!-- Formulario para registrar una nueva cita -->
<div class="card p-3 mb-4">
	<h5>Registrar Cita</h5>

	<EditForm Model="nuevoCita" OnValidSubmit="GuardarCita">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div class="mb-2">
			<label>Estado</label>
			<InputText @bind-Value="nuevoCita.estado" class="form-control" />
		</div>
	</EditForm>
</div>
@code {
	private List<Cita> citas = new();
	private List<HorarioAtencion> horarioAtencions = new();
	private List<Paciente> pacientes = new();
	private Cita nuevoCita = new();

	protected override async Task OnInitializedAsync()
	{
		await CargarCitas();
		await CargarHorarioAtencions();
		await CargarPacientes();
	}

	private async Task CargarCitas()
	{
		citas = await citaService.GetCitas();
	}

	private async Task CargarHorarioAtencions()
	{
		horarioAtencions = await horarioAtencionService.GetHorarioAtencions();
	}

	private async Task CargarPacientes()
	{
		pacientes = await pacienteService.GetPacientes();
	}

	private async Task GuardarCita()
	{
		var exito = await citaService.AddCita(nuevoCita);
		await CargarCitas();
	}

	private async Task EliminarCita(int id)
	{
		var exito = await citaService.DeleteCita(id);
		if (exito)
		{
			await CargarCitas();
		}
	}
}